name: Backstage Daily JIRA Status

on:
  # Trigger on a cron schedule (every weekday at 4:00 PM IST)
  schedule:
    - cron: '30 10 * * MON'   # Adjusted for 4:00 PM IST in UTC
  workflow_dispatch:  # Allow manual triggering of the workflow

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Run Bash Script
      run: bash backstage/team-backstage.sh ${{ secrets.TEAM_BACKSTAGE_SLACK_HOOK }}